<script src="/javascripts/jquery-3.5.1.min.js"></script>
<!-- <script src="/javascripts/jquery-3.5.1.min.map"></script> -->
<script type="text/javascript" src="/javascripts/slick.min.js"></script>
<script src="/javascripts/script.js"></script>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/gifttek.js"></script>
<script>
    window.intercomSettings = {
        app_id: "klvzdd15"
    };
</script>

<!--<script>-->
<!--    // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/klvzdd15'-->
<!--    (function(){-->
<!--        var w=window;-->
<!--        var ic=w.Intercom;-->
<!--        if(typeof ic==="function"){-->
<!--            ic('reattach_activator');-->
<!--            ic('update',w.intercomSettings);-->
<!--        }else{-->
<!--            var d=document;-->
<!--            var i=function(){-->
<!--                i.c(arguments);-->
<!--            };-->
<!--            i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/klvzdd15';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();-->
<!--</script>-->
<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID='d45c2910-8931-4bb7-93fd-ca232f76f971';(function(){d=document;s=d.createElement('script');s.src='https://client.crisp.chat/l.js';s.async=1;d.getElementsByTagName('head')[0].appendChild(s);})();</script>

</body>

</html>
