<!DOCTYPE html>
<html>
<head>
    <title>Arzancart</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/images/ui/logo-new.png" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick-theme.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<!--<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="9b710866-2772-4d9f-8c72-10bde87ac5ca";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>-->
<div class="all_load">
    <img src="/images/ui/load.gif" alt="loading">
</div>
    <%- include("../popUps/loginPopup.ejs") %>
    <header>
        <div class="wrapper">
            <div class="menu-btn">
                <a href="javascript:;"></a>
            </div>
            <% if(typeof siteData.userInfo === "undefined"){ %>
            <div class="left-nav logout">
                <div class="item">
                    <a href="javascript:;" id="loginBtn">ورود <img src="/images/logos/user.svg" alt=""></a>
                </div>
                <div class="item">
                    <a href="/reg">ثبت نام <img src="/images/logos/user.svg" alt=""></a>
                </div>
                <div class="item">
                    <a href="/bag">سبد خرید <img src="/images/logos/bag.svg" alt=""></a>
                </div>
            </div>
            <% }else{ %>
            <div class="left-nav login">
                <div class="item user">
                    <a href="javascript:;" id="userBtn">پروفایل <img src="/images/logos/user.svg" alt=""></a>
                    <div class="user-info-popup">
                        <div class="outer">
                            <div class="item">
                                <a href="/profile/orders" class="layer"></a>
                                <div class="txt-area">
                                    سفارشات من
                                </div>
                                <div class="img-area">
                                    <img src="/images/ui/bug.png" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <a href="/profile/sale" class="layer"></a>
                                <div class="txt-area">
                                    سفارشات فروش
                                </div>
                                <div class="img-area">
                                    <img src="/images/ui/bug.png" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <a href="/profile/user" class="layer"></a>
                                <div class="txt-area">
                                    مشخصات شخصی
                                </div>
                                <div class="img-area">
                                    <img src="/images/ui/user.png" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <a href="/profile/c2c" class="layer"></a>
                                <div class="txt-area">
                                    کارت به کارت
                                </div>
                                <div class="img-area">
                                    <img src="/images/ui/bug.png" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <a href="/auth/logout" class="layer"></a>
                                <div class="txt-area">
                                    خروج
                                </div>
                                <div class="img-area">
                                    <img src="/images/ui/logout.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <a href="/bag">سبد خرید <img src="/images/logos/bag.svg" alt=""></a>
                </div>
            </div>
            <% } %>
            <nav>
                <ul>

                    <li><a href="/terms">قوانین</a></li>
                    <li><a href="/contact">تماس با ما</a></li>
                    <li><a href="/faq">سوالات متداول</a></li>
                    <!-- <li><a href="javascript:;">راهنما</a></li> -->
                    <li><a href="/about">درباره ما</a></li>
                    <li><a href="/complaint">ثبت شکایت</a></li>
                    <% if(typeof siteData.userInfo === "undefined"){ %>
                        <li><a href="/reg">فروش گیفت کارت به ما</a></li>
                    <%} else {%>
<!--                        <li onclick="getSellUrl()">فروش گیفت کارت به ما</li>-->
                        <li onclick=""><a href="/sell">فروش گیفت کارت به ما</a></li>
                    <%}%>

<!--                    <li><a href="/complaint">ثبت شکایت</a></li>-->
                    <li><a href="/">خانه</a></li>
                </ul>
            </nav>
<!--            <a referrerpolicy="origin" target="_blank" href="https://trustseal.enamad.ir/?id=188416&amp;Code=oNYutNhvEBgolHBgEDNL"><img referrerpolicy="origin" src="https://Trustseal.eNamad.ir/logo.aspx?id=188416&amp;Code=oNYutNhvEBgolHBgEDNL" alt="" style="cursor:pointer" id="oNYutNhvEBgolHBgEDNL"></a>-->
            <a referrerpolicy="origin" target="_blank" href="https://trustseal.enamad.ir/?id=188416&amp;Code=oNYutNhvEBgolHBgEDNL"><img referrerpolicy="origin" src="https://Trustseal.eNamad.ir/logo.aspx?id=188416&amp;Code=oNYutNhvEBgolHBgEDNL" alt="" style="cursor:pointer" id="oNYutNhvEBgolHBgEDNL"></a>
            <div class="logo-area">
                <a href="/"><img src="/images/ui/logo-new.png" alt=""></a>
            </div>
        </div>
    </header>
