<%- include("../default/header.ejs") %>
<main>
<!--<div style="-->
<!--    text-align: center;-->
<!--    margin-bottom: 5px;-->
<!--">تلفن ثابت۰۲۱۷۷۰۸۱۹۷۹-->
<!--    </div>-->
<div style="
    text-align: center;
    margin-bottom: 5px;
">کدپستی ۱۶۵۵۶۵۳۸۸۳
    </div>
    <section class="contact-section wrapper">
        <div class="contact-area">
            <h1 class="section-title">تماس با ما</h1>
            <hr>
            <h1 class="section-title">آدرس تهران _ تهرانپارس _بیست متری بوستان _بوستان ششم غربی</h1>
			<br/>
            <h1 class="section-title">پلاک۳ واحد۲</h1>
			<br/>
            <h3 class="section-title">کدپستی 1655653883</h3>
			<br/>
            <h3 class="section-title">موبایل 09103303561</h3>
			<br/>
<!--            <h3 class="section-title">شماره تماس ثابت 02177081979</h3>-->
<!--			<br/>-->
            <h3 class="section-title">ایمیل arzancart.store@gmail.com</h3>
            <div class="info-area">
<!--                <div class="item">-->
<!--                    <img src="/images/ui/location.png" alt="">-->
<!--                    <span>location</span>-->
<!--                </div>-->
<!--                <div class="item">-->
<!--                    <img src="/images/ui/mail.png" alt="">-->
<!--                    <a href="mailto:arzancart.store@gmail.com"><span>arzancart.store@gmail.com</span></a>-->
<!--                </div>-->
<!--                <div class="item">-->
<!--                    <img src="/images/ui/phone.png" alt="">-->
<!--                    <a href="tel:09103303561"><span>09103303561</span></a>-->
<!--                </div>-->
            </div>
<!--            <form id="contactForm" name="contactForm">-->
<!--                <div class="input-fields">-->
<!--                    <div class="input-field">-->
<!--                        <input type="text" placeholder="1" id="inp1">-->
<!--                    </div>-->
<!--                    <div class="input-field">-->
<!--                        <input type="text" placeholder="2" id="inp2">-->
<!--                    </div>-->
<!--                    <div class="input-field">-->
<!--                        <input type="text" placeholder="3" id="inp3">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="input-fields">-->
<!--                    <div class="input-field">-->
<!--                        <textarea name="" id="" placeholder="4" id="inp4"></textarea>-->
<!--                    </div>-->
<!--                    <div class="input-field">-->
<!--                        <button>button</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </form>-->
<!--            <div class="map-area">-->
<!--                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12188.361104754455!2d44.508547595577085!3d40.20705476557366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x406abd3614489df1%3A0x6798adf339e0a56f!2sSas%20Food%20Court!5e0!3m2!1sru!2s!4v1596907537044!5m2!1sru!2s" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>-->
<!--                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15405.373696204346!2d51.425505431575004!3d35.736524911890996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e00491ff3dcd9%3A0xf0b3697c567024bc!2z0KLQtdCz0LXRgNCw0L0sINCY0YDQsNC9!5e0!3m2!1sru!2s!4v1599851490479!5m2!1sru!2s" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>-->
<!--            </div>-->
<!--            <div class="info-area">-->
<!--                <div class="item">-->
<!--                    <a href="javasript:;"><span>صاحب امتیاز س. افضلی</span></a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="info-area">-->
<!--                <div class="item">-->
<!--                    <a href="http://arzancart.store/bag"><span>خرید </span></a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <h1 class="section-title">تماس با ما</h1>-->
<!--            <hr>-->
<!--            <div class="info-area">-->
<!--                <div class="item">-->
<!--                    <a href="http://arzancart.store/bag"><span>خرید </span></a>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </section>
</main>
<%- include("../default/footer.ejs") %>
