<section id="loginPopUp">
    <div class="popup-outer">
        <p class="section-title">
            ورود
        </p>
<!--        <form id="loginForm" method="post" action="/auth/sign-in">-->
<!--        <form>-->
            <div class="input-fields">
                <div class="input-field">
                    <div id="errorLogin">Username or password are incorrect</div>
                    <input id="phoneLogin" type="text" placeholder="شماره موبایل" name="phone">
                </div>
                <div class="input-field">
                    <input id="passLogin" type="password" placeholder="رمز عبور" name="password">
                </div>
                <div class="input-field">
                    <button id="sloginButton">ورود</button>
                </div>
            </div>
<!--        </form>-->
        <a href="/forgot-password" id="forgotBtn">بازیابی رمز عبور</a>
        <hr>
        <a href="/reg">ثبت نام</a>
    </div>
</section>

<script>

</script>
