<%- include("../default/header.ejs") %>
<main>
    <section class="complaint-section wrapper">
        <div class="complaint">
            <h1 class="section-title">ثبت شکایت</h1>
            <hr>
            <div class="txt">
                حداکثر طی ۲۴ ساعت موارد بررسی شده و اطلاع رسانی می‌شود
            </div>
            <form id="complaintForm">
                <div class="input-fields">
                    <div class="input-field">
                        <input type="text" placeholder=" موضوع">
                    </div>
                    <div class="input-field">
                        <textarea placeholder="توضیحات"></textarea>
                    </div>
                    <div class="input-field">
                        <button>ارسال</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>
<%- include("../default/footer.ejs") %>