<%- include("../default/header.ejs") %>
<main>
    <section class="profile-user-section wrapper">
        <!--        <div class="user-verify-status">-->
        <!--            1-->
        <!--        </div>-->
        <div class="profile-user-area">
            <div class="profile-user">
                <h1 class="section-title">خرید های کارت به کارت</h1>
                <hr>
                <div class="new_c2c_order">
                    <a href="/categories/29">سفارش جدید</a>
                </div>
                <hr>
                <div class="order-list">
                    <% data.forEach(function (item){ %>
                        <% if(item.admin_status == '2'){ %>
                        <div class="item">
                            <% if(siteData.userInfo[0].status == '2'){ %>
                            <div style="flex: 1;display: flex">
                                سفارش # <%=item.c2cId%>
                            </div>
                            <div class="left">
                                <p><%=item.voucher_code%></p>
                            </div>
                            <%}else{%>
                                <a href="/profile/user" class="left left not-verified">
                                    <p>کاربری شما نیاز به احراز هویت دارد</p>
                                </a>
                            <%}%>
                            <div style="width:150px;display: flex">
                                <%var dateConverted = new Date(item.c2cReqDate)%>
                                <%=dateConverted.getDate()%>-<% var month = parseInt(dateConverted.getMonth())+1%><%=month%>-<%=dateConverted.getFullYear()%>
                            </div>
                            <div class="right">

                                <div class="card">
                                    <div class="card-content" style="background: <%='#'%><%=item.color%>">
                                        <div class="card-header">
                                            <div class="title">
                                                <%=item.name%> <br/>
                                                کارت به کارت
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="card-price" style="text-align: left;">
                                                <%=item.amount%> تومان
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="txt">
                                    From <%=item.user_bank_card_number%> cart
                                </p>
                            </div>
                        </div>
                        <% }else if(item.admin_status == '0'){ %>
                        <div class="item">
                            <div style="flex: 1;display: flex">
                                سفارش # <%=item.c2cId%>
                            </div>
                            <div class="left">
                                <p>در حال بررسی</p>
                            </div>
                            <div style="width:150px;display: flex">
                                <%var dateConverted = new Date(item.c2cReqDate)%>
                                <%=dateConverted.getDate()%>-<% var month = parseInt(dateConverted.getMonth())+1%><%=month%>-<%=dateConverted.getFullYear()%>
                            </div>
                            <div class="right">

                                <div class="card">
                                    <div class="card-content" style="background: <%='#'%><%=item.color%>">
                                        <div class="card-header">
                                            <div class="title">
                                                <%=item.name%>  <br/>
                                                کارت به کارت
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="card-price" style="text-align: left;">
                                                <%=item.amount%> تومان
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="txt">
                                    From <%=item.user_bank_card_number%> cart
                                </p>
                            </div>
                        </div>
                        <% } else{ %>
                            <div class="item">
                                <div style="flex: 1;display: flex">
                                    سفارش # <%=item.c2cId%>
                                </div>
                                <div class="left">
                                    <p>لغو شده</p>
                                </div>
                                <div style="width:150px;display: flex">
                                    <%var dateConverted = new Date(item.c2cReqDate)%>
                                    <%=dateConverted.getDate()%>-<% var month = parseInt(dateConverted.getMonth())+1%><%=month%>-<%=dateConverted.getFullYear()%>
                                </div>
                                <div class="right">

                                    <div class="card">
                                        <div class="card-content" style="background: <%='#'%><%=item.color%>">
                                            <div class="card-header">
                                                <div class="title">
                                                    <%=item.name%>  <br/>
                                                    کارت به کارت
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <div class="card-price" style="text-align: left;">
                                                    <%=item.amount%> تومان
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="txt">
                                        From <%=item.user_bank_card_number%> cart
                                    </p>
                                </div>
                            </div>
                        <% } %>
                    <% }) %>
                </div>
            </div>
            <div class="buttons-area">
                <div class="item">
                    <a href="/profile/orders">سفارشات من</a>
                </div>
                <div class="item">
                    <a href="/profile/user">مشخصات شخصی</a>
                </div>

                <div class="item">
                    <a href="/profile/sale">سفارشات فروش</a>
                </div>
                <div class="item">
                    <a href="/profile/c2c">کارت به کارت </a>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include("../default/footer.ejs") %>


