<%- include("../default/header.ejs") %>
<main>
    <section class="profile-user-section wrapper">
<!--        <div class="user-verify-status">-->
<!--            1-->
<!--        </div>-->
        <div class="profile-user-area">
            <div class="profile-user">
                <h1 class="section-title">سفارشات من</h1>
                <hr>
                <div class="order-list">
                    <% data.forEach(function (item){ %>
                        <div class="item">
                            <div style="width: 130px;display: flex">
                                سفارش # <%=item.orderId%>
                            </div>
                            <div style="width: 130px;display: flex">
                                <%var dateConverted = new Date(item.orderCreateTime)%>
                                <%=dateConverted.getDate()%>-<% var month = parseInt(dateConverted.getMonth())+1%><%=month%>-<%=dateConverted.getFullYear()%>
                            </div>
                            <% if(siteData.userInfo[0].status == '2'){ %>
                                <div class="left">
                                    <p><%=item.voucher_code%></p>
                                </div>
                            <%}else{%>
                                <a href="/profile/user" class="left left not-verified">
                                    <p>کاربری شما نیاز به احراز هویت دارد</p>
                                </a>
                            <%}%>
                            <div class="right">
                                <p class="txt">
                                    <%=item.name%>
                                </p>
                                <p class="txt">

                                </p>
                                <div class="card">
                                    <div class="card-content" style="background: <%='#'%><%=item.color%>">
                                        <div class="card-header">
                                            <div class="title">
                                                <%=item.name%>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="card-price">
                                                <%=item.total%> T - <%=item.price%> $
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
            <div class="buttons-area">
                <div class="item">
                    <a href="/profile/orders">سفارشات من</a>
                </div>
                <div class="item">
                    <a href="/profile/user">مشخصات شخصی</a>
                </div>

                <div class="item">
                    <a href="/profile/sale">سفارشات فروش</a>
                </div>
                <div class="item">
                    <a href="/profile/c2c">کارت به کارت </a>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include("../default/footer.ejs") %>


