<%- include("../default/header.ejs") %>
<main>
    <section class="profile-user-section wrapper">
        <!--        <div class="user-verify-status">-->
        <!--            1-->
        <!--        </div>-->
        <div class="profile-user-area">
            <div class="profile-user">
                <h1 class="section-title">سفارشات فروش </h1>
                <hr>
                <div class="order-list">
                    <% data.forEach(function (item){ %>
                        <% if(item.status_admin == 0){ %>
                                <p class="val-status not-valid">اطلاعات کد نادرست است</p>
                        <%}else if(item.status_admin == 1){%>
                                <p class="val-status pending">درخواست شما با موفقیت ارسال شد ، لطفا منتظر باشید </p>
                        <%}else{%>
                                <p class="val-status valid">واریز شده.</p>
                        <%}%>

                        <div class="item">
                            <% if(siteData.userInfo[0].status == '2'){ %>
                            <div class="left">
                                <p>
                                    shaba : <%=item.shaba%>
                                    <br/>
                                    Card Number : <%=item.cart_number%>
                                    <br/>
                                    Amount: <%=item.amount%>
                                </p>
                            </div>
                            <%}else{%>
                                <a href="/profile/user" class="left left not-verified">
                                    <p>کاربری شما نیاز به احراز هویت دارد</p>
                                </a>
                            <%}%>
                            <div class="right">
                                <p class="txt">
                                    <%=item.name%> - <%=item.amount%> تومان
                                </p>
                                <p class="txt">
                                    <%var dateConverted = new Date(item.saleOrderData)%>
                                    <%=dateConverted.getDate()%>-<% var month = parseInt(dateConverted.getMonth())+1%><%=month%>-<%=dateConverted.getFullYear()%>
                                </p>
                                <div class="card">
                                    <div class="card-content" style="background: <%='#'%><%=item.color%>">
                                        <div class="card-header">
                                            <div class="title">
                                                <%=item.name%>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
            <div class="buttons-area">
                <div class="item">
                    <a href="/profile/orders">سفارشات من</a>
                </div>
                <div class="item">
                    <a href="/profile/user">مشخصات شخصی</a>
                </div>
                <div class="item">
                    <a href="/profile/sale">سفارشات فروش</a>
                </div>
                <div class="item">
                    <a href="/profile/c2c">کارت به کارت </a>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include("../default/footer.ejs") %>


