<%- include("../default/header.ejs") %>
<main>
    <section class="profile-user-section wrapper">
        <div class="paymentErrorPage">
            <img src="/images/ui/complete+done.png"  alt=""/>
            <p><a href="/profile/orders">Go to Profile</a></p>
        </div>
    </section>
</main>
<%- include("../default/footer.ejs") %>
