<%- include("../default/header.ejs") %>
<main>
    <section class="profile-user-section wrapper">
<!--        <div class="user-verify-status">-->
<!--            حساب شما در انتظار تأیید است-->
<!--        </div>-->
        <div class="profile-user-area">
            <div class="profile-user">
                <div class="inputs-list">
                    <h1 class="section-title">مشخصات من</h1>
                    <hr>
                    <div class="item">
                        <input type="text" disabled value="<%=siteData.userInfo[0].l_name%>" >
                    </div>
                    <div class="item">
                        <input type="text" disabled value="<%=siteData.userInfo[0].f_name%>" >

                    </div>
                    <div class="item">

                    </div>
                    <div class="item">
                        <input type="text" disabled value="<%=siteData.userInfo[0].phone%>" >
                    </div>
                </div>
                <div class="file-upload-area">
                    <h1 class="section-title">اضافه کردن کارت بانکی</h1>
                    <hr>
                    <form method="post" action="/profile/user/add-info" enctype='multipart/form-data'>
                        <div class="list-area">

<!--                            <div class="item">-->
<!--                                <p class="label-name">-->
<!--                                    عکس کارت ملی-->
<!--                                </p>-->
<!--                                <div class="label-images">-->
<!--                                    <div class="img_box">-->
<!--                                        <div class="img_add_button">+</div>-->
<!--                                        <input type="file" class="img_files" style="display: none;" name="user_img" required>-->
<!--                                        <div class="img_add_text">بارگذاری عکس کارت ملی</div>-->
<!--                                        <img class="user_added_pics" src="" />-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="item">
                                <p class="label-name">
                                    عکس کارت ملی
                                </p>
                                <div class="label-image">
                                    <div class="img_box">
                                        <div class="img_add_button">+</div>
                                        <input type="file" class="img_file" style="display: none;" name="user_img" required>
                                        <div class="img_add_text">بارگذاری عکس کارت ملی</div>
                                        <img class="user_added_pic" src="" />
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <p class="label-name">
                                    شماره ۱۶ رقمی کارت خود را وارد کنید
                                </p>
                                <input id="bankCardNumber" type="text" name="bank_card_number" placeholder="**** **** **** ****" minlength="16" maxlength="16" required/>
                                <div class="btn-area">
                                    <button type="submit">ذخیره</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="documents-area">
                    <h1 class="section-title">مشخصات و حساب های ثبت شده</h1>
                    <hr>
                    <div class="document-list">
                        <% passports.forEach(function (item){%>
                        <div class="item">
                            <div class="delete-area">
                                <%if(item.status == '0'){%>
                                    <p class="status yellow">در حال بررسی </p>
                                <%}else if(item.status == '1'){%>
                                    <p class="status red">مشخصات شما تایید نشده لطفا با پشتیبانی در تماس باشید </p>
                                <%}else{%>
                                    <p class="status green">تایید شده</p>
                                <%}%>
                                    <p class="status"> <%=item.msg%> </p>
<!--                                <a href="javascript:;">حذف</a>-->
                            </div>
                            <div class="img-area">
                                <p class="number"><%=item.bank_card_number%></p>
                                <img src="<%=item.image%>" alt="document image">
                            </div>
                        </div>
                        <%})%>
<!--                        <div class="item">-->
<!--                            <div class="delete-area">-->

<!--                                <a href="javascript:;">Delete</a>-->
<!--                            </div>-->
<!--                            <div class="img-area">-->
<!--                                <p class="number">**** **** **34 1234</p>-->
<!--                                <img src="" alt="document image">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="item">-->
<!--                            <div class="delete-area">-->

<!--                                <a href="javascript:;">Delete</a>-->
<!--                            </div>-->
<!--                            <div class="img-area">-->
<!--                                <p class="number">**** **** **34 1234</p>-->
<!--                                <img src="" alt="document image">-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
            <div class="buttons-area">
                <div class="item">
                    <a href="/profile/orders">سفارشات من</a>
                </div>
                <div class="item">
                    <a href="/profile/user">مشخصات شخصی</a>
                </div>
                <div class="item">
                    <a href="/profile/sale">سفارشات فروش</a>
                </div>
                <div class="item">
                    <a href="/profile/c2c">کارت به کارت </a>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include("../default/footer.ejs") %>
