<%- include("../default/header.ejs") %>
<main>
<!--    <section class="detail-section wrapper">-->
<!--        <h1 class="section-title"><span> شماره موبایل خود را وارد کنید </span></h1>-->
<!--    </section>-->
    <section class="detail-section wrapper">
        <div class="g_money">
            <div><h1>شماره موبایل خود را وارد کنید </h1></div>
            <input class="g_money" type="text" id="c2cVerPhone" placeholder="شماره موبایل" />
            <span class="g_add_bag" id="c2cVer">ادامه</span>
        </div>
<!--        <hr/>-->
<!--        <h1>OR</h1>-->
<!--        <hr/>-->
<!--        <a href="javascript:;" id="loginImitateBtn">Login into your account</a>-->
    </section>
    <section class="txt-tab-section wrapper">
        <div class="list">
            <div class="item">
                تحویل پس از خرید و ارسال به ایمیلتحویل آنی گیفت کارت
            </div>
            <div class="item">
                عدم مرجوع کد شارژ! لطفا در انتخاب کالا دقت فرمایید، کد گیفت کارت تحویل داده شده به هیج عنوان تعویض و یا قابل مرجوع نمی باشد.
            </div>
            <div class="item">
                پرداخت امن بانکی امکان پرداخت برای کلیه کارت های عضو شبکه شتاب دارای رمز دوم
            </div>
        </div>
    </section>
</main>
<%- include("../default/footer.ejs") %>
<script>
    $('#c2cVer').click(function (){
        $('.all_load').css({'display':'flex'})
        var c2cVerPhone = $('#c2cVerPhone').val();
        requestPost('/c2c/phone_verify','c2cVerPhone='+c2cVerPhone+'',function () {
            if(this.readyState == 4){
                var result = JSON.parse(this.responseText);
                // console.log('result',result)
                if(!result.error){
                    // console.log('..........',result)
                    if(result.errCode == '111'){
                        window.location.href = result.redirectUrl
                    }
                    if(result.errCode == '222'){
                        $('.all_load').css({'display':'none'})
                        $('input[name$="phone"]').val(result.phone);
                        $('#loginPopUp').fadeIn(200);
                        setTimeout(function(){
                            $("#loginPopUp").addClass('active');
                        },200);
                    }
                    // window.location.href('/cac/enter-code')
                }else{
                    if(result.msg == '456792'){
                     // console.log('err msg = 456792')
                    }
                }
            }
        })
    })
</script>
