<%- include("../default/header.ejs") %>
<main>
    <section class="card-detail-header" style="background: <%='#'%><%=cards[0].cat_color%>">
        <div class="wrapper">
<!--            <p class="sub-title">sub</p>-->
            <div class="name">
                <span><%=cards[0].cat_name%></span>
                <img src="<%=cards[0].cat_imgs%>" alt="<%=cards[0].cat_name%>">
            </div>
        </div>
    </section>

    <section class="detail-section wrapper">
        <h1 class="section-title"><%=cards[0].cat_name%> واوچر</h1>
    </section>
    <section class="detail-section wrapper">
        <div class="g_money">
            <select>
                <option selected disabled>انتخاب کارت</option>
                <% cards.forEach(function (card){ %>
                <option data-id="<%=card.prod_id%>"><%=card.price%>$ - <%=card.real_price%></option>
                <%})%>
            </select>
            <span class="g_add_bag" id="thisFlipBag">اضافه کردن به سبد خرید</span>
        </div>
    </section>
    <section class="txt-tab-section wrapper">
        <div class="list">
            <div class="item">
                تحویل پس از خرید و ارسال به ایمیلتحویل آنی گیفت کارت
            </div>
            <div class="item">
                عدم مرجوع کد شارژ! لطفا در انتخاب کالا دقت فرمایید، کد گیفت کارت تحویل داده شده به هیج عنوان تعویض و یا قابل مرجوع نمی باشد.
            </div>
            <div class="item">
                پرداخت امن بانکی امکان پرداخت برای کلیه کارت های عضو شبکه شتاب دارای رمز دوم
            </div>
        </div>
    </section>
</main>
<%- include("../default/footer.ejs") %>
