<%- include("../default/header.ejs") %>
<main>
    <%if(cards.length > 0){%>
    <section class="card-detail-header" style="background: <%='#'%><%=cards[0].cat_color%>">
        <div class="wrapper">
<!--            <p class="sub-title">sub</p>-->
            <div class="name">
                <span><%=cards[0].cat_name%></span>
                <img src="<%=cards[0].cat_imgs%>" alt="<%=cards[0].name%>">
            </div>
        </div>
    </section>
    <section class="txt-tab-section wrapper">
        <div class="list">
            <div class="item">
                تحویل پس از خرید و ارسال به ایمیلتحویل آنی گیفت کارت
            </div>
            <div class="item">
                عدم مرجوع کد شارژ! لطفا در انتخاب کالا دقت فرمایید، کد گیفت کارت تحویل داده شده به هیج عنوان تعویض و یا قابل مرجوع نمی باشد.
            </div>
            <div class="item">
                پرداخت امن بانکی امکان پرداخت برای کلیه کارت های عضو شبکه شتاب دارای رمز دوم
            </div>
        </div>
    </section>
    <section class="detail-section wrapper">
        <h1 class="section-title"><%=cards[0].cat_name%> واوچر</h1>
    </section>

    <section class="cards-section">
        <h1 class="section-title">کارت خود را انتخاب کنید</h1>
        <div class="cards-area">
            <div class="list">
                <% cards.forEach(function (card){ %>
                <div class="card">
                    <a href="/product/<%=card.prod_id%>" class="card-layer">&nbsp;</a>
                    <div class="card-content" style="background: <%='#'%><%=card.cat_color%>">
                        <div class="card-header">
                            <div class="title">
                                <%=card.cat_name%>
                            </div>
                            <div class="card-logo">
                                <img src="<%=card.cat_imgs%>" alt="">
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="more-btn">
                                بیشتر <img src="/images/logos/more.svg" alt="">
                            </div>
                            <div class="card-price">
                                <%=card.price%> $ <br>
                                <span>تومان </span> <%=card.real_price%>
                            </div>
                        </div>
                    </div>
                </div>
                <%})%>
            </div>
        </div>
    </section>
    <%}else{%>
        <section class="cards-section">
            <h1 class="section-title">کارت موجود نیست</h1>
        </section>
    <%}%>
</main>
<%- include("../default/footer.ejs") %>
