<%- include("../default/header.ejs") %>
<main>
    <section class="detail-section wrapper">
        <h1 class="section-title title-left">
            ابتدا مبلغ مورد نظر را به حساب مقصد کارت به کارت کرده، سپس از طریق فیلد زیر درخواست خود را ارسال کنید
            <span id="bank_card_number"><%=numbers.bank_card_number%></span></h1>
    </section>
    <section class="detail-section wrapper">
        <div class="g_money">
            <p class="section-title">Flip Money</p>
            <p><b>نرخ فروش از طریق پشتیبانی</b></p>
            <div class="rate_bl">
                <div class="errorAmount" style="display: none;color: red;">حداقل مبلغ 20000 تومان</div>
                <div class="errorUnviewed" style="display: none;color: red;">در حال حاضر یک درخواست باز دارید</div>
                <br/>
                <!--                <input class="g_money" type="number" id="c2cAmount" placeholder="مبلغ به تومان"/>-->
                <select id="gC2cSelect" style="margin-top: 0px;">
                    <option selected disabled>انتخاب کارت</option>
                    <% cards.forEach(function (card){ %>
                    <option data-id="<%=card.prod_id%>"><%=card.price%>$ - <%=card.real_price%></option>
                    <%})%>
                </select>
            </div>

            <!--            <p class="resultFlipmoneyMain" style="display: none"><span id="resultFlipmoney"></span> Flipmoney</p>-->
            <div class="rate_bl">
                <div class="errorUserBAnkNUmber" style="display: none;color: red;">شماره 16 رقم نمی باشد</div>
                <br/>
                <input class="g_money" type="number" id="c2cUserBankCardNumber" placeholder="شماره 16 رقمی کارت شما" />
            </div>
            <span class="g_add_bag" id="c2cadd">ادامه</span>
        </div>
    </section>
    <section class="txt-tab-section wrapper">
        <div class="list">
            <div class="item">
                تحویل پس از خرید و ارسال به ایمیلتحویل آنی گیفت کارت
            </div>
            <div class="item">
                عدم مرجوع کد شارژ! لطفا در انتخاب کالا دقت فرمایید، کد گیفت کارت تحویل داده شده به هیج عنوان تعویض و یا قابل مرجوع نمی باشد.
            </div>
            <div class="item">
                پرداخت امن بانکی امکان پرداخت برای کلیه کارت های عضو شبکه شتاب دارای رمز دوم
            </div>
        </div>
    </section>
</main>
<%- include("../default/footer.ejs") %>
<script>
    $('#c2cadd').click(function (){
        $('.all_load').css({'display':'flex'});
        $('.errorUserBAnkNUmber').css({'display' : 'none'})
        $('.errorAmount').css({'display' : 'none'})
        $('.errorUnviewed').css({'display' : 'none'})
        var errorFilds = false;
        // var catSelected = $('#catSelected'). children("option:selected"). val();
        var gC2cSelect = parseInt($('#gC2cSelect'). children("option:selected"). val().split('-')[1]);
        // let sAmount =
      // console.log(gC2cSelect)
        var bank_card_number = $('#bank_card_number').text();
        // var amount = $('#c2cAmount').val();
        var c2cUserBankCardNumber = $('#c2cUserBankCardNumber').val();
        var bodys = 'cat_id=27&amount='+gC2cSelect+'&bank_card_number='+bank_card_number+'&c2cUserBankCardNumber='+c2cUserBankCardNumber+''

        if(c2cUserBankCardNumber.length !== 16){
            errorFilds = true;
            $('.errorUserBAnkNUmber').css({'display' : 'block'})
        }

        if(parseFloat(gC2cSelect) < 20000){
            errorFilds = true;
            $('.errorAmount').css({'display' : 'block'})
        }
        if(gC2cSelect.length == 0){
            errorFilds = true;
            $('.errorAmount').css({'display' : 'block'})

        }
      // console.log('bodys',bodys)

        if(!errorFilds) {
            requestPost('/c2c/adds', bodys, function () {
                if (this.readyState == 4) {
                    var result = JSON.parse(this.responseText);
                  // console.log('result', result)
                    if (!result.error) {
                        window.location.href = '/profile/c2c';
                    } else {
                        if (result.msg == '456791') {
                            window.location.href = '/';
                        }else if(result.msg == '458999'){
                            $('.all_load').css({'display':'none'});
                            $('.errorUnviewed').css({'display' : 'block'})
                        }
                    }
                }
            })
        }else{
            $('.all_load').css({'display':'none'});
            // alert('error');
        }
    })
    // $('#c2cAmount').keyup(function () {
    //     $('.resultFlipmoneyMain').css({'display':'block'})
    //     var rate = $('#rate_ints').text();
    //     $('#resultFlipmoney').html('<b>'+parseInt($(this).val()) / parseInt(rate)+'</b>');
    // })
</script>
