<%- include("../default/header.ejs") %>
<main>
    <section class="registration-section wrapper">
        <% if(errorNumber){%>
            <p class="errorPhoneForgot"> با شماره تماس شما کاربری وجود ندارد </p>
        <% } %>
        <p class="sub-title">بازیابی رمز عبور</p>
        <div class="registration-area">
            <div class="registration">
                <form method="post" action="/forgot-password/send-number" id="forgotSendEmail">
                    <div class="forgot-email">
                        <input type="text" placeholder="شماره موبایل" name="phone" />
                        <button>ارسال کد</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
<%- include("../default/footer.ejs") %>
