<%- include("../default/header.ejs") %>
<main>
    <section class="registration-section wrapper">
        <p class="sub-title">بازیابی رمز عبور</p>
        <div class="registration-area">
            <div class="registration">
                <div  id="forgotSendEmail">
                    <div class="forgot-email">
                        <input type="text" placeholder="رمز" id="code" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include("../default/footer.ejs") %>
<script>
    $('#code').keyup(function (){
        if($(this).val().length === 4){
          // console.log('111',$(this).val())
            requestPost('/forgot-password/send-code','code='+$(this).val(),function (){
                if(this.readyState === 4){
                    var result = JSON.parse(this.responseText);
                    if(!result.error){
                        window.location.href = '/forgot-password/new-password'
                    }
                }
            })
        }
    })
</script>
