<%- include("../default/header.ejs") %>
<main>
    <section class="registration-section wrapper">
        <p class="sub-title">رمز جدید</p>
        <div class="registration-area">
            <div class="registration">
                <form method="post" action="/forgot-password/new-passwords" id="forgotSendEmail">
                    <div class="forgot-email">
                        <input required type="password" placeholder="رمز عبور" name="password" class="new-pass"/>
                        <input required type="password" placeholder="تایید رمز عبور" name="repassword"  class="new-repass"/>
                        <button>ذخیره </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
<%- include("../default/footer.ejs") %>
<script>
    $('.forgot-email button').click(function(e){
        e.preventDefault();
        var errorDef = false;
        var password = $('.new-pass').val();
        var repassword = $('.new-repass').val();

        if(password !== repassword){
            $('.new-pass').addClass('errorPass')
            $('.new-repass').addClass('errorPass')
            errorDef = true
        }else{
            if(password == ""){
                $('.new-pass').addClass('errorPass')
                errorDef = true
            }
            if(repassword == ""){
                $('.new-repass').addClass('errorPass')
                errorDef = true
            }
        }
      // console.log('errorDef',errorDef)
        if(!errorDef){
          // console.log('$(\'#forgotSendEmail\')',$('#forgotSendEmail'))
            $('#forgotSendEmail').submit();
        }
    });
</script>
