<%- include("./default/header.ejs") %>
<main>
    <section class="registration-section wrapper">
        <div style="text-align: center;margin-bottom: 5px;font-size: 24px;">
            با شماره مورد نظر،  ثبت نام انجام گرفته شده
        </div>
    </section>
</main>
<%- include("./default/footer.ejs") %>
