<%- include("./default/header.ejs") %>
<main>
<!--    <section class="faq-section wrapper">-->
<!--        <h1 class="section-title">-->
<!--            به اطلاع کاربران محترم می رسانیم به دلیل بروز اختلال در سایت لطفا جهت خرید و فروش گیفت کارت به سایت ارزان گیفت  با کاربری و گذرواژه فعلی وارد شوید.-->
<!--        </h1>-->
<!--        <h1 class="section-title">-->
<!--            <a style="font-size: 24px;color: #bb461a;" href="http://arzangift.shop" target="_blank">www.arzangift.shop</a>-->
<!--        </h1>-->
<!--    </section>-->
</main>
<%- include("./default/footer.ejs") %>


