<%- include("./default/header.ejs") %>
<main>
    <div class="new_text_1">
        <div class="new_text_3">
            فقط یک درصد کارمزد. ارزان تر از همه جا ، خریدار کارت هدیه از شما بدون کسر کارمزد .
        </div>
    </div>
    <div class="new_text_1">
        <div class="new_text_2">توجه: کاربر گرامی بدلیل نوسانات شدید در نرخ گیفت کارتها از مورخ ۱۴۰۱/۱۲/۲۰ از ارائه خدمات معذوریم ، در صورت نیاز لطفا به دیگر سایت های معتبر عرضه گیفت کارت در سطح کشور مراجعه شود.</div>
    </div>
<!--    <div class="new_text_1">-->
<!--        <a class="new_text_3" href="http://arzangift.shop">www.arzangift.shop</a>-->
<!--    </div>-->
        <section class="home-slide-section">
        <div id="homeSlide" class="wrapper" data-slick='{"slidesToShow": 3, "slidesToScroll": 1}'>
            <div class="card" data-card-id="1">
                <a href="/categories/1" class="card-layer">&nbsp;</a>
                <div class="card-content" style="background: #CE1D2B">
                    <div class="card-header">
                        <div class="title">
                            Nintendo
                        </div>
                        <div class="card-logo">
                            <img src="/images/logos/nitentdo.png" alt="">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="more-btn">
                            بیشتر <img src="/images/logos/more.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" data-card-id="3">
                <a href="/categories/3" class="card-layer">&nbsp;</a>
                <div class="card-content" style="background: #FF8F00">
                    <div class="card-header">
                        <div class="title">
                            Amazon
                        </div>
                        <div class="card-logo">
                            <img src="/images/logos/amazon.png" alt="">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="more-btn">
                            بیشتر <img src="/images/logos/more.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" data-card-id="6">
                <a href="/categories/6" class="card-layer">&nbsp;</a>
                <div class="card-content" style="background: #027D00">
                    <div class="card-header">
                        <div class="title">
                            Xbox Extreme Card
                        </div>
                        <div class="card-logo">
                            <img src="/images/logos/xbox.svg" alt="">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="more-btn">
                            بیشتر <img src="/images/logos/more.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <a href="/categories/26" class="card-layer">&nbsp;</a>
                <div class="card-content" style="background: #000;">
                    <div class="card-header">
                        <div class="title">
                            Blackberry ID
                        </div>
                        <div class="card-logo">
                            <img src="/images/logos/BlackBerry.png" alt="">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="more-btn">
                            بیشتر <img src="/images/logos/more.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="txt-tab-section wrapper">
        <div class="list">
            <div class="item">
                تحویل پس از خرید و ارسال به ایمیلتحویل آنی گیفت کارت
            </div>
            <div class="item">
                عدم مرجوع کد شارژ! لطفا در انتخاب کالا دقت فرمایید، کد گیفت کارت تحویل داده شده به هیج عنوان تعویض و یا قابل مرجوع نمی باشد.
            </div>
            <div class="item">
                پرداخت امن بانکی امکان پرداخت برای کلیه کارت های عضو شبکه شتاب دارای رمز دوم
            </div>
        </div>
    </section>
    <section class="cards-section">
        <h1 class="section-title">کارت خود را انتخاب کنید</h1>
        <div class="cards-area">
            <div class="list">
                <% siteData.categories.forEach(function (value) {
                    if(value.id == '29'){
                %>
    <!--                    <div class="card">-->
    <!--                        <a href="/categories/29" class="card-layer">&nbsp;</a>-->
    <!--                        <div class="card-content" style="background: #00314b">-->
    <!--                            <div class="card-header">-->
    <!--                                <div class="title" style="font-size: 28px;">-->
    <!--                                    کارت به کارت-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                            <div class="card-header">-->
    <!--                                <div class="card-logo">-->
    <!--                                    <img src="/images/logos/flip_money.png" alt="">-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                            <div class="card-footer">-->
    <!--                                <div class="more-btn">-->
    <!--                                    بیشتر <img src="/images/logos/more.svg" alt="">-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
                    <%}else{ %>
                        <% if(value.id != 27){  %>
                            <div class="card" data-card-id="<%=value.id%>">
                                <a href="/categories/<%=value.id%>" class="card-layer">&nbsp;</a>
                                <div class="card-content" style="background: <%='#'%><%=value.color%>">
                                    <div class="card-header">
                                        <div class="title">
                                            <%=value.name%>
                                        </div>
                                        <div class="card-logo">
                                            <img src="<%=value.logo%>" alt="">
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="more-btn">
                                            بیشتر <img src="/images/logos/more.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }%>
                    <% }%>
                <% }) %>
            </div>
            <div class="names">
                <% siteData.categories.forEach(function (value) { %>
                    <% if(value.id != 27){  %>
                        <div class="item" data-card-id="<%=value.id%>">
                            <label for="<%=value.name%>ID"><%=value.name%></label>
                            <input type="checkbox" id="<%=value.name%>ID" value="">
                        </div>
                    <%}%>
                <%})%>
            </div>
        </div>
    </section>
</main>
<%- include("./default/footer.ejs") %>
