<%- include("./default/header.ejs") %>
<main>
    <section class="registration-section wrapper">
        <div class="ver-main">
            <input type="text" id="phone_ver_inp" placeholder="کد را این قسمت وارد کنید">
        </div>
        <div id="phone_ver_false" style="display:none;color: red;text-align: center;">کد اشتباه است</div>
        <div class="ver-main">
            <span id="resendRegCode">ارسال مجدد کد فعال سازی</span>
        </div>
        <div class="ver-main">
            کد تایید موبایل به شماره تماس شما ارسال شده است
			<br/>
			لطفا کد تایید را داخل فیلد مربوطه در قسمت بالا وارد کنید
        </div>
    </section>
</main>
<%- include("./default/footer.ejs") %>
<script>
    $('#phone_ver_inp').keyup(function (){
        $('#phone_ver_false').css({'display':'none'})
        if($(this).val().length === 4){
            requestPost('/reg/send-code','code='+$(this).val(),function (){
                if(this.readyState === 4){
                    var result = JSON.parse(this.responseText);
                    if(!result.error){
                        window.location.href = '/'
                    }else{
                        if(result.msg == "15138466513"){
                            $('#phone_ver_false').css({'display':'block'})
                        }
                    }

                }
            })
        }else if($(this).val().length > 4){
            $('#phone_ver_false').css({'display':'block'})
        }
    })
    $('#resendRegCode').click(function (){
        requestPost('/reg/get-code','',function (){
            if(this.readyState === 4){
                let result = JSON.parse(this.responseText);
                if(!result.error){
                    alert('The new code sended to your phone')
                    window.location.href = '/reg/phone-verification'
                }
            }
        })
    })
</script>
