<%- include("./default/header.ejs") %>
<main>
    <section class="registration-section wrapper">
        <p class="sub-title">صفحه اصلی> ثبت نام و خرید</p>
        <div class="registration-area">
            <div class="registration">
                <form id="cardOrderForm" method="post" action="/auth/sign-up">
                    <h1 class="section-title">ثبت نام و خرید</h1>
                    <hr>
                    <div class="input-fields">
                        <div class="outer">
                            <div class="input-field">
                                <p class="reg_errors" id="last_name_error"></p>
                                <input type="text" name="lastName"  placeholder="نام خانوادگی" id="reg_lastname">
                            </div>
                            <div class="input-field">
                                <p class="reg_errors" id="first_name_error"></p>
                                <input type="text" name="firstName"  placeholder="نام" id="reg_firstname">
                            </div>
                        </div>
                        <div class="outer">
                            <div class="input-field " id="reg_phone_section">
                                <p class="reg_errors" id="phone_error"></p>
                                <input type="number"  name="phone" placeholder="شماره موبایل (0912*******)" id="reg_phone">
                            </div>
                        </div>
                        <div class="outer">
                            <div class="input-field">
                                <p class="reg_errors" id="pass_error"></p>
                                <input type="password" name="password" placeholder="کلمه عبور" id="reg_password">
                            </div>
                        </div>
                        <p class="txt">با کلیک بر روی دکمه «ثبت نام» شما موافقت می کنید در پردازش اطلاعات شخصی</p>
                        <div class="input-field">
                            <button>ثبت نام</button>
                        </div>
                    </div>
                </form>
                <div class="other-cards">
                    <p class="sub-title">سفارش شما</p>
                    <div class="card-list">
                        <h3>No Order</h3>
<!--                        <div class="item">-->
<!--                            <div class="card">-->
<!--                                <a href="javascript:;" class="card-layer">&nbsp;</a>-->
<!--                                <div class="card-content" style="background: #CE1D2B">-->
<!--                                    <div class="card-header">-->
<!--                                        <div class="title">-->
<!--                                            Nintendo-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="card-footer">-->
<!--                                        <div class="more-btn">-->
<!--                                            More <img src="/images/logos/more.svg" alt="">-->
<!--                                        </div>-->
<!--                                        <div class="card-price">-->
<!--                                            2$-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <p class="card-txt">3 sss</p>-->
<!--                        </div>-->
<!--                        <div class="item">-->
<!--                            <div class="card">-->
<!--                                <a href="javascript:;" class="card-layer">&nbsp;</a>-->
<!--                                <div class="card-content" style="background: #CE1D2B">-->
<!--                                    <div class="card-header">-->
<!--                                        <div class="title">-->
<!--                                            Amazon-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="card-footer">-->
<!--                                        <div class="more-btn">-->
<!--                                            More <img src="/images/logos/more.svg" alt="">-->
<!--                                        </div>-->
<!--                                        <div class="card-price">-->
<!--                                            3$-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <p class="card-txt">4 sss</p>-->
<!--                        </div>-->
<!--                        <div class="item">-->
<!--                            <div class="card">-->
<!--                                <a href="javascript:;" class="card-layer">&nbsp;</a>-->
<!--                                <div class="card-content" style="background: #CE1D2B">-->
<!--                                    <div class="card-header">-->
<!--                                        <div class="title">-->
<!--                                            Nintendo-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="card-footer">-->
<!--                                        <div class="more-btn">-->
<!--                                            More <img src="/images/logos/more.svg" alt="">-->
<!--                                        </div>-->
<!--                                        <div class="card-price">-->
<!--                                            2$-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <p class="card-txt">3 sss</p>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include("./default/footer.ejs") %>
