/* #region Global */
@font-face {
  font-family: "ubuntu-bold";
  src: url("./font/Ubuntu-B.ttf");
}
@font-face {
  font-family: "ubuntu-light";
  src: url("./font/Ubuntu-L.ttf");
}
@font-face {
  font-family: "ubuntu-regular";
  src: url("./font/Ubuntu-R.ttf");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ubuntu-regular;
  font-size: 14px;
}
ul{
  list-style: none;
}
a{
  color: #000;
  text-decoration: none;
}
a:hover{
  color: #999;
  text-decoration: none;
}
main {
  margin-top: 150px;
}
img#oNYutNhvEBgolHBgEDNL {
  width: 100px;
}
.wrapper{
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}
.section-title{
  font-size: 26px;
  color: #000;
  font-weight: bold;
}
.input-field.mandatory input,
.input-field.mandatory textarea{
  border: 1px solid red!important;
}
.err-notification-msg {
  color: red;
  font-size: 12px;
  display: inline-block;
  margin-bottom: 5px;
}
.d-none{
  display: none!important;
}
.slick-prev{
  left: 25px;
  z-index: 9;
}
.slick-next{
  right: 25px;
}
/* #endregion */

/* #region Header */
.menu-btn{
  display: none;
  width: 25px;
  height: 30px;
  cursor: pointer;
  align-items: center;
}
.menu-btn a {
  display: inline-block;
  height: 2px;
  background: #1998ff;
  width: 100%;
  position: relative;
}
.menu-btn a::before,.menu-btn a::after {
  position: absolute;
  content: '';
  height: 2px;
  right: 0;
  background: #1998ff;
  transition: .3s;
}
.menu-btn a::before {
  top: -8px;
  width: 75%;
}
.menu-btn a::after {
  width: 55%;
  top: 8px;
}
.menu-btn.active a{
  height: 0;
}
.menu-btn.active a::before,.menu-btn.active a::after{
  width: 100%;
  top: 0;
}
.new_text_1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.new_text_2{
  text-align: center;
  margin-bottom: 5px;
  font-size: 20px;
  background: #ce1d2b;
  color: #ffffff;
  width: 320px;
  padding: 6px;
}
.new_text_3{
  text-align: center;
  margin-bottom: 5px;
  font-size: 20px;
  background: #ffffff;
  color: #000000;
  width: 320px;
  padding: 6px;
}
.menu-btn.active a::before{
  transform: rotate(45deg);
}
.menu-btn.active a::after{
  transform: rotate(-45deg);
}
header{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  background-color: #fff;
  transition: padding .3s;
}
header .wrapper{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .left-nav{
  display: flex;
}
header .left-nav .item{
  padding: 10px;
}
header nav ul{
  display: flex;
}
header nav ul li{
  padding: 10px 20px;
}
header nav li a{
  display: inline-block;
}
.logo-area img{
  width: 120px;
  transition: .3s;
}
.sticky header{
  box-shadow: 0 0 10px 1px black;
}
.ver-main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  flex: 1;
}
.ver-main > input{
  height: 40px;
  padding: 5px;
  width: 250px;
}
.ver-main > span{
  color: #ffffff;
  background: #0071b2;
  height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  width: 150px;
  justify-content: center;
  cursor: pointer;
}
.sticky header .wrapper{
  padding-top: 5px;
  padding-bottom: 5px;
}
.sticky .logo-area img{
  width: 50px;
}
header .left-nav .item.user{
  position: relative;
}
header .left-nav .item.user .user-info-popup{
  display: none;
}
header .left-nav .item.user .user-info-popup .outer{
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 180px;
  box-shadow: 0 0 5px 1px #9b9b9b;
}
header .left-nav .item.user .user-info-popup .item{
  position: relative;
  border-bottom: 1px solid #F4F4F4;
  display: flex;
  justify-content: flex-end;
}
header .left-nav .item.user .user-info-popup .item .img-area{
  padding-left: 10px;
}
header .left-nav .item.user .user-info-popup .item .layer{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
/* #endregion */

/* #region Profile User */
.profile-user-section{
  margin:150px auto 30px;
}
.profile-user-section .user-verify-status{
  width: 100%;
  text-align: center;
  background-color: #DA2524;
  color: #fff;
  padding: 20px 0;
}
.profile-user-section .profile-user-area{
  margin-top: 30px;
  display: flex;
}
.profile-user-section hr{
  border: 0;
  height: 0.5px;
  width: 100%;
  background: #F6F6F6;
  margin: 10px 0 30px;
}
.profile-user-section .section-title{
  text-align: right;
  width: 100%;
}
.profile-user-section .profile-user{
  width: 80%;
  padding: 15px;
  box-shadow: 0 0 10px 0px #d3d3d3;
}
.profile-user-section .buttons-area{
  width: 20%;
}
.profile-user-section .buttons-area .item a{
  display: block;
  text-align: center;
  padding: 20px 0;
  background-color: #F0F0F0;
  color: #000;
  border: 1px solid #E8E8E8;
  border-radius: 4px;
}
.profile-user-section .profile-user .inputs-list{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 20px;
}
.profile-user-section .profile-user .inputs-list .item{
  padding: 10px 15px;
  width: 50%;
}
.profile-user-section .profile-user .inputs-list .item input{
  width: 100%;
  text-align: right;
  background-color: #FAFAFA;
  border: 1px solid #E9ECF1;
  padding: 20px;
  border-radius: 5px;
  cursor: no-drop;
}
.profile-user-section .file-upload-area .list-area{
  display: flex;
  flex-direction: row;
}
.profile-user-section .file-upload-area .list-area .item{
  width: 50%;
  padding: 0 10px;
  text-align: right;
  margin-bottom: 35px;
}
.profile-user-section .file-upload-area .label-name{
  color: #9D9A9B;
  margin-bottom: 10px;
}
.profile-user-section .file-upload-area .list-area .item:last-child input{
  border: 1px solid #9D9A9B;
  border-radius: 5px;
  width: 100%;
  padding: 15px;
  text-align: right;
}
.profile-user-section .file-upload-area .list-area .item .btn-area button{
  display: block;
  text-align: center;
  padding: 15px 0;
  background-color: #1998FF;
  color: #fff;
  border: 0;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}
.profile-user-section .documents-area .document-list{
  display: flex;
  flex-direction: column;
}
.profile-user-section .documents-area .document-list .item{
  display: flex;
  padding: 15px;
  border: 1px solid #E0E0E0;
  margin-bottom: 10px;
}
.profile-user-section .documents-area .document-list .item>div{
  width: 50%;
  padding: 0 15px;
}
.profile-user-section .documents-area .document-list .img-area{
  text-align: right;
}
.profile-user-section .documents-area .document-list .img-area .number{
  margin-bottom: 30px;
}
.profile-user-section .documents-area .document-list .img-area img{
  width: 100%;
}
.profile-user-section .documents-area .document-list .item .status{
  text-align: center;
  color: #000;
  padding: 15px 0;
  border-radius: 3px;
  margin-bottom: 20px;
}
.profile-user-section .documents-area .document-list .item .status.yellow{
  background-color: #FFEB00;
}
.profile-user-section .documents-area .document-list .item .status.red{
  background-color: #DA2524;
}
.profile-user-section .documents-area .document-list .item .status.green{
  background-color: #3DEA4A;
}
.profile-user-section .documents-area .document-list .item .delete-area a{
  border: 1px solid #DCE2E9;
  display: inline-block;
  font-size: 12px;
  padding: 5px 20px;
}
.profile-user-section .profile-user .order-list{
  display: flex;
  flex-direction: column;
}
.profile-user-section .profile-user .order-list .item{
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 15px 0;
}
.profile-user-section .profile-user .order-list .item>div{
  width: 50%;
  padding: 0 15px;
}
.profile-user-section .profile-user .order-list .item .right{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-user-section .profile-user .order-list .item .right .card {
  padding: 0 10px;
}
.profile-user-section .profile-user .order-list .item .right .card-content{
  height: 90px;
  width: 150px;
}
.profile-user-section .profile-user .order-list .item .right .card .card-footer .card-price{
  width: 100%;
}
.profile-user-section .profile-user .order-list .item .left p{
  border: 2px dashed #1998FF;
  padding: 15px 30px;
  border-radius: 5px;
}
.profile-user-section .profile-user .order-list .item .left.not-verified p{
  background: #C44949;
  border: 2px dashed #fff;
  color: #fff;
}
/* #endregion */

/* #region Home */
.home-slide-section{
  background: #1998FF;
  padding-top: 30px;
  padding-bottom: 30px;
}
.card{
  position: relative;
  padding: 0 30px;
}
.card-content{
  padding: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  border: none;
  border-radius: 5px;
}
.card .more-btn{
  display: flex;
  align-items: center;
}
.card .more-btn img{
  margin-left: 10px;
}
.card .card-layer{
  position: absolute;
  top: 0;
  left: 30px;
  right: 30px;
  bottom: 0;
  z-index: 9;
  background-color: rgba(255, 255, 255, 0);
}
.no_show{
  display: none;
}
.externalLinkGenerateds{
  text-align: center;
  font-size: 26px;
  color: #ffffff;
  margin: 15px;
  padding: 8px 20px;
  background: #1599ff;
  border-radius: 7px;
}
.externalLinkGenerateds:hover{
  color: #ffffff;
}
.button-to-profiles{
  text-align: center;
  font-size: 20px;
  margin: 15px;
}
.card .card-header,
.card .card-footer{
  display: flex;
  justify-content: space-between;
}
.card .card-footer .card-price{
  text-align: right;
  font-size: 18px;
}
.txt-tab-section {
  margin: 20px auto;
}
.txt-tab-section .list{
  display: flex;
  justify-content: space-between;
}
.txt-tab-section .list .item{
  width: 32%;
  padding: 40px 20px;
  text-align: center;
  color: #fff;
}
.txt-tab-section .list .item:first-child{
  background: #6AB2C7;
}
.txt-tab-section .list .item:nth-child(2){
  background: #9CD44C;
}
.txt-tab-section .list .item:last-child{
  background: #914CD5;
}
.cards-section{
  padding: 0 1% 20px;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.cards-section .section-title{
  padding: 0 1%;
}
.cards-section .cards-area{
  display: flex;
}
.cards-section .cards-area .list{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.cards-section .cards-area .names{
  width: 20%;
  padding-right: 1%;
}
.cards-section .cards-area .names .item{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}
.cards-section .cards-area .names .item label{
  margin-right: 15px;
  user-select: none;
}
.cards-section .cards-area .card{
  width: 33.33%;
  padding: 0 1%;
  margin-bottom: 20px;
}
.cards-section .cards-area .card .card-layer{
  left: 0;
  right: 0;
}
/* #endregion */

/* #region Contact */
.contact-section .contact-area{
  padding: 30px;
  box-shadow: 0 0 10px 0px #d3d3d3;
  margin-top: 150px;
  margin-bottom: 30px;
}
.contact-section .section-title{
  text-align: right;
}
.contact-section hr{
  border: 0;
  height: 0.5px;
  width: 100%;
  background: #F6F6F6;
  margin: 10px 0 30px;
}
.contact-section .info-area{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}
.contact-section .info-area .item{
  padding-right: 15px;
  display: flex;
  align-items: flex-end;
}
.contact-section .info-area .item:last-child{
  padding-right: 0;
}
.contact-section .info-area .item span{
  margin-left: 5px;
}
.contact-section #contactForm{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.contact-section .input-fields{
  width: 49%;
}
.contact-section .input-fields input,
.contact-section .input-fields textarea{
  width: 100%;
  border: 1px solid #DFE5EB;
  border-radius: 5px;
  padding: 15px;
  text-align: right;
}
.contact-section .input-fields textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 109.4px;
}
.contact-section .input-field{
  margin-bottom: 15px;
}
.contact-section .input-fields button{
  border: 2px solid #1998FF;
  background: #1998FF;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 43.2px;
  text-align: center;
  cursor: pointer;
  transition: .3s;
}
.contact-section .input-fields button:hover{
  background: #fff;
  color: #1998FF;
}
.contact-section .map-area iframe{
  width: 100%;
  height: 400px;
  border: 5px solid #1998FF;
}
/* #endregion */

/* #region FAQ */
.faq-section{
  margin: 150px auto 30px;
  width: 100%;
  max-width: 900px;
}
.faq-section .section-title{
  text-align: center;
  margin-bottom: 20px;
}
.faq-section .item{
  border: 1px solid #E2E2E2;
  margin-bottom: 15px;
}
.faq-section .item .tab-header a{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.faq-section .item .tab-header a span{
  width: 90%;
  text-align: right;
}
.faq-section .item .tab-header img{
  transform: rotate(0deg);
  transition: .3s;
}
.faq-section .item.active .tab-header img{
  transform: rotate(180deg);
}
.faq-section .item .tab-content{
  display: none;
  padding: 20px;
  text-align: right;
  border-top: 1px solid #E2E2E2;
}
/* #endregion */

/* #region Card detail */
.card-detail-header{
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
}
.card-detail-header .name{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.card-detail-header .name span{
  font-weight: bold;
  font-size: 18px;
}
/* #endregion */

/* #region registration */
.registration-section .registration{
  display: flex;
  justify-content: space-between;
}
.registration-section .section-title{
  text-align: right;
}
.registration-section hr{
  border: 0;
  height: 0.5px;
  width: 100%;
  background: #F6F6F6;
  margin: 10px 0 30px;
}
.registration-section .sub-title{
  margin-bottom: 10px;
}
.registration-section #cardOrderForm{
  width: 68%;
  box-shadow: 0 0 10px 0px #d3d3d3;
  padding: 10px;
  text-align: right;
}
.registration-section #cardOrderForm .input-fields{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registration-section #cardOrderForm .input-field{
  margin-bottom: 15px;
}
.registration-section #cardOrderForm .outer {
  display: flex;
  justify-content: space-between;
  width: 98%;
}
.registration-section #cardOrderForm .input-field{
  width: 100%;
}
.registration-section #cardOrderForm .outer .input-field {
  /*width: 49%;*/
}
.registration-section #cardOrderForm .input-field input{
  width: 100%;
  border: 1px solid #DFE5EB;
  padding: 15px;
  text-align: right;
}
.reg_errors{
  color: #c70000;
  font-size: 14px;
  height: 18px;
}
.registration-section #cardOrderForm .txt{
  width: 98%;
  text-align: right;
  margin: 10px 0;
}
.registration-section #cardOrderForm .input-field button{
  width: 100%;
  background: #1998FF;
  color: #fff;
  text-align: center;
  height: 47.2px;
  border: 2px solid #1998FF;
  cursor: pointer;
  transition: .3s;
}
.registration-section #cardOrderForm .input-field button:hover{
  background: #fff;
  color: #1998FF;
}
.registration-section .other-cards{
  width: 30%;
  text-align: right;
}
.registration-section .card{
  padding: 0;
}
.registration-section .card .card .card-layer{
  left: 0;
  right: 0;
}
.registration-section .card .card-content{
  height: 150px;
}
.registration-section .card .card-price{
  font-size: 24px;
}
.registration-section .card-txt{
  font-weight: bold;
  margin: 10px 0 25px;
}
/* #endregion */

/* #region Complaint */
.complaint-section {
  text-align: right;
  margin-top: 150px;
}
.complaint-section hr{
  border: 0;
  height: 0.5px;
  width: 100%;
  background: #F6F6F6;
  margin: 10px 0 30px;
}
.complaint-section .complaint{
  box-shadow: 0 0 10px 0px #d3d3d3;
  padding: 20px 40px;
}
.complaint-section #complaintForm{
  width: 100%;
  max-width: 500px;
  margin: 40px auto 0;
  padding: 0;
}
.complaint-section .input-fields{
  width: 100%;
}
.complaint-section .input-fields input,
.complaint-section .input-fields textarea{
  width: 100%;
  border: 1px solid #DFE5EB;
  border-radius: 5px;
  padding: 15px;
  text-align: right;
}
.complaint-section .input-fields textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 109.4px;
}
.complaint-section .input-field{
  margin-bottom: 15px;
}
.complaint-section .input-fields button{
  border: 2px solid #1998FF;
  background: #1998FF;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 43.2px;
  text-align: center;
  cursor: pointer;
  transition: .3s;
}
.complaint-section .input-fields button:hover{
  background: #fff;
  color: #1998FF;
}
/* #endregion */

/* #region Basket */
.basket-section .section-title{
  text-align: right;
}
.basket-section .basket-table .header-area{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
.basket-section .basket-table .header-area .item,
.basket-section .basket-table .list .item>div{
  width: 20%;
  text-align: center;
}
.basket-section .basket-table .header-area .item:last-child,
.basket-section .basket-table .list .item>div:last-child{
  width: 40%;
  text-align: right;
}
.basket-section .basket-table .list .item{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  border: 1px solid #E0E5EB;
  border-radius: 3px;
  margin-bottom: 15px;
}
.basket-section .basket-table .list .item .delete-btn{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  background: #FAFAFA;
  border: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.basket-section .basket-table .list .item .count{
  background: #1998FF;
  padding: 5px 10px;
  width: max-content;
  border-radius: 5px;
  margin: 0 auto;
}
.basket-section .basket-table .list .item .count span{
  background: #fff;
  color: #000;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  width: inherit;
}
.basket-section .basket-table .list .item .count a {
  width: 25px;
  display: inline-block;
  background: #fff;
  border-radius: 5px;
}
.basket-section .basket-table .list .item-info{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.basket-section .basket-table .list .item-info .img-area{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
  width: 140px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  margin-left: 15px;
  padding: 10px;
}
.basket-section .basket-table .list .item-info .img-area .name{
  text-align-last: left;
}
.basket-section .bottom-area{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.basket-section .bottom-area a{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #1998FF;
  height: 47.2px;
  width: 250px;
  background: #1998FF;
  color: #fff;
  border-radius: 5px;
  transition: .3s;
}
.basket-section .bottom-area a:hover{
  color: #1998FF;
  background-color: #fff;
}
/* #endregion */

/* #region login */
#loginPopUp {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 99999;
  display: none;
}
#loginPopUp .popup-outer{
  background: #fff;
  width: 100%;
  padding:  20px;
  max-width: 300px;
  max-height: 80vh;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: .3s;
}
#loginPopUp.active .popup-outer{
  transform: translate(-50%, -50%) scale(1);
}
#loginPopUp .section-title{
  margin-bottom: 20px;
}
#loginPopUp .input-field{
  width: 100%;
  margin-bottom: 15px;
}
#loginPopUp .input-field input{
  width: 100%;
  border: 1px solid #DFE5EB;
  border-radius: 5px;
  padding: 15px;
  text-align: right;
}
#loginPopUp .input-fields button{
  border: 2px solid #1998FF;
  background: #1998FF;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 43.2px;
  text-align: center;
  cursor: pointer;
  transition: .3s;
}
#loginPopUp .input-fields button:hover{
  background: #fff;
  color: #1998FF;
}
#loginPopUp hr{
  border: 0;
  height: 0.5px;
  width: 100%;
  background: #F6F6F6;
  margin: 40px 0 15px;
}
/* #endregion */


.errorPhoneForgot{
  font-size: 18px;
  text-align: center;
  color: #bc4313;
}

#saleCardError{
  font-size: 16px;
  text-align: center;
  color: #bc4313;
  margin: 4px;
  display: none;
}
/* #region  */

/* #end region  */

.g_add_bag{
  background: #1998ff;
  color: #ffffff;
  padding: 11px 52px;
  display: inline-block;
  margin-top: 15px;
  border-radius: 3px;
  cursor: pointer;
}
.g_money{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 7px;
  padding: 4px 10px;
}
input.g_money{
  width: 250px;
}
.g_money select{
  margin-top: 40px;
  padding: 8px 2px;
  width: 200px;
  font-size: 18px;
}
.title-left{
  text-align: center;
  width: 324px;
  margin: 0px auto;
}
.rate_bl{
  display: flex;
  border: 1px solid #1998ff;
  flex: 1;
  align-items: center;
  padding: 6px;
  margin: 5px;
  flex-direction: column;
}
.new_c2c_order{
  text-align: right;
}
.new_c2c_order > a{
  color: white;
  background: #00b514;
  font-size: 20px;
  display: inline-block;
  width: 120px;
  text-align: center;
  padding: 4px;
  border-radius: 3px;
}
.all_load{
  position: fixed;
  background: #00000057;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: 99999999;
  display: none;
  align-items: center;
  justify-content: center;
}
#errorLogin{
  color: red;
  text-align: center;
  margin: 12px 0px;
  display: none;
}
.label-image{
  height: 94px;
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 2px dotted #DBE1E8;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  position: relative;
}
.label-image{
  height: 94px;
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 2px dotted #DBE1E8;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  position: relative;
}
.label-images{
  height: 94px;
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 2px dotted #DBE1E8;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  position: relative;
}
.img_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  position: relative;
}
.img_add_button {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #DBE1E8;
  font-size: 30px;
  font-family: UbuntuRegular;
  color: #9C9EA0;
  border-radius: 50px;
}
.img_add_text {
  font-size: 12px;
  font-family: UbuntuRegular;
}
.user_added_pic {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
#forgotSendEmail{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: 1;
}
#forgotSendEmail > .forgot-email{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 100%;
}
#forgotSendEmail > .forgot-email > input{
  width: 269px;
  height: 40px;
  padding: 3px 6px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 10px;
}
#forgotSendEmail > .forgot-email > button{
  display: block;
  margin-top: 20px;
  background: #1998ff;
  padding: 10px 25px;
  color: #ffffff;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
.errorPass{
  border: 1px solid red;
}
.paymentErrorPage{
  display: flex;
  align-items: center;
  justify-content: center;
  flex:1;
  flex-direction: column;
}
.paymentErrorPage > img{
  width: 250px;
}
.terms-text{
  text-align: right;
  font-size: 20px;
}
.about-main{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.about-main > img{
  width: 70%;
}
.about-text{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  display: flex;align-items: center;justify-content: center;
  text-align: center;
}
.sell_section{
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 20px;
}
.sell_choose_type{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;

}
.val-status{
  padding: 4px;
  font-size: 15px;
  text-decoration: underline;
}
.left-status{

}
.not-valid{
  color: #c62121;
}
.valid{
  color: #66c621;
}
.pending{
  color: #c69d21;
}
.sell_choose_type > select{
  height: 35px;
  width: 100%;
  padding: 8px;
  outline: none;
}
.sell_inps{
  display: flex;
  margin-top: 10px;
  width: 100%;
}
.sell_inps > input{
  height: 35px;
  width: 100%;
  padding: 8px;
}
.sell_inps > span{
  background: #1998ff;
  height: 35px;
  width: 100%;
  display: flex;
  border-radius: 3px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

/* #region Responsive */
@media only screen and (max-width: 991px){
  main {
    margin-top: 190.4px;
  }
  .menu-btn{
    display: flex;
  }
  header .left-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
  }
  header{
    padding-top: 35px;
  }
  header nav ul {
    position: absolute;
    top: 100%;
    background: #fff;
    left: 0;
    right: 0;
    display: none;
    text-align: right;
  }
  header .wrapper{
    flex-direction: row-reverse;
  }
  .cards-section .cards-area .card{
    width: 50%;
  }
  .cards-section .cards-area .list {
    width: 70%;
  }
  .cards-section .cards-area .names{
    width: 30%;
  }
  .profile-user-section .profile-user .order-list .item{
    flex-direction: column-reverse;
  }
  .profile-user-section .profile-user .order-list .item>div{
    width: 100%;
  }
  .profile-user-section .profile-user .order-list .item .right{
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 767px){
  #homeSlide .card-logo{
    max-width: 100px;
  }
  #homeSlide .card-logo img{
    width: 100%;
  }
  .txt-tab-section .list{
    flex-direction: column;
  }
  .txt-tab-section .list .item{
    width: 100%;
    margin-bottom: 15px;
  }
  .cards-section .cards-area .names{
    display: none;
  }
  .cards-section .cards-area .list, .registration-section #cardOrderForm{
    width: 100%;
  }
  .registration-section .other-cards{
    display: none;
  }
  .registration-section #cardOrderForm .outer{
    flex-direction: column;
  }
  .registration-section #cardOrderForm .outer .input-field {
    width: 100%;
  }
  .basket-section .basket-table .list .item>div:last-child{
    flex-direction: column;
  }
  .basket-section .basket-table .list .item>div:last-child .txt-area{
    margin-bottom: 10px;
  }
  .profile-user-section .profile-user-area {
    flex-direction: column-reverse;
  }
  .profile-user-section .buttons-area{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
  }
  .profile-user-section .buttons-area .item{
    width: 50%;
  }
  .profile-user-section .profile-user{
    width: 100%;
  }
}
@media only screen and (max-width: 575px){
  .cards-section .cards-area .card {
    width: 100%;
  }
  .contact-section #contactForm{
    flex-direction: column;
  }
  .contact-section .input-fields{
    width: 100%;
  }
  .contact-section .info-area {
    flex-direction: column;
    align-items: flex-end;
  }
  .contact-section .info-area .item{
    flex-direction: row-reverse;
    padding-right: 0;
    margin-bottom: 15px;
  }
  .contact-section .info-area .item img{
    width: 23px;
  }
  .contact-section .info-area .item span{
    margin-left: 0;
    margin-right: 10px;
  }
  .basket-section .basket-table .list .item{
    flex-direction: column;
  }
  .basket-section .basket-table .list .item>div {
    margin-bottom: 10px;
  }
  .basket-section .bottom-area{
    flex-direction: column-reverse;
  }
  .basket-section .bottom-area a{
    margin-top: 15px;
  }
  .profile-user-section .profile-user .inputs-list .item, .profile-user-section .file-upload-area .list-area .item, .profile-user-section .documents-area .document-list .item>div{
    width: 100%;
  }
  .profile-user-section .file-upload-area .list-area .item{
    margin-bottom: 10px;
  }
  .profile-user-section .file-upload-area .list-area, .profile-user-section .documents-area .document-list .item{
    flex-wrap: wrap;
  }
  .profile-user-section .profile-user .order-list .item .right{
    flex-direction: column-reverse;
  }
  .profile-user-section .profile-user .order-list .item .right .txt{
    margin-top: 10px;
  }
  .section-title{
   font-size: 22px;
  }
}
/* #endregion */
