<%- include("../default/header.ejs") %>
<main>
    <section class="cards-section">
        <h1 class="section-title">some title</h1>
        <div class="sell_section">our contact support will contact with you for verify your request.</div>
    </section>
</main>
<%- include("../default/footer.ejs") %>
