<%- include("../default/header.ejs") %>
<main>
    <section class="cards-section">
        <h1 class="section-title">کارت را انتخاب کنید</h1>
        <div class="sell_section">
            <div class="sell_choose_type">
                <select id="sellCategorie">
                    <% siteData.categories.forEach(function (item){ %>
                    <option
                        <% if(item.id == '27'){ %><%='selected'%><%}%>
                            data-id = <%=item.id%>
                    ><%=item.name%></option>
                    <%})%>
                </select>
                <div class="sell_inps">
                    <input dir="rtl"  type="text" id="alfaCode" placeholder="شماره ۱۶ رقمی کارت" value=""/>
                </div>
                <div class="sell_inps">
                    <input dir="rtl"  type="text" id="betaCode" placeholder="شماره شبا (بدون IR)" value=""/>
                </div>
                <div class="" id="saleCardError">اطلاعات مورد نظر را به درستی وارد کنید</div>
                <div class="sell_inps">
                    <span id="submitSell">تایید</span>
                </div>
            </div>
        </div>
        <div style="text-align: center; margin-top: 20px;">
            <a id="externalLinkGenerated" class="externalLinkGenerateds no_show"></a>
        </div>


<!--        <a id="button-to-profile" href="/profile/sale" class="button-to-profiles no_show"><hr/>Go to sale orders</a>-->
    </section>
</main>
<%- include("../default/footer.ejs") %>
