<%- include("../default/header.ejs") %>
<main>
    <section class="cards-section">
        <h1 class="section-title">درخواست شما با موفقیت ثبت شد ، برای مشاهده وضعیت درخواست ، به بخش </h1>
        <h3 class="section-title"><a href="/profile/sale">سفارشات فروش مراجعه کنید</a> </h3>
    </section>
</main>
<%- include("../default/footer.ejs") %>
