<%- include("../default/header.ejs") %>
<main>
    <section class="card-detail-header" style="background: <%='#'%><%=product.color%>">
        <div class="wrapper">
            <p class="sub-title">sub</p>
            <div class="name">
                <span><%=product.name%></span>
                <img src="<%=product.logo%>" alt="<%=product.name%>">
            </div>
        </div>
    </section>
    <section class="detail-section wrapper">
        <h1 class="section-title"><%=product.name%> Cards</h1>
    </section>
    <section class="cards-section">
        <h1 class="section-title">کارت خود را انتخاب کنید</h1>
        <div class="cards-area">
            <div class="list">
                <div class="card">
                    <div class="card-content" style="background: <%='#'%><%=product.color%>">
                        <div class="card-header">
                            <div class="title">
                                <%=product.name%>
                            </div>
                            <div class="card-logo">
                                <img src="<%=product.logo%>" alt="">
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="more-btn">
                                More <img src="/images/logos/more.svg" alt="">
                            </div>
                            <div class="card-price">
                                <%=product.price%>$ <br>
                                <span>تومان </span><%=product.real_price%>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h1><%=product.name%> card for <%=product.price%>$</h1>
                    <span class="g_add_bag" id="thisCardBag" data-price="<%=product.price%>" data-id="<%=product.prod_id%>">Add To Bag</span>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include("../default/footer.ejs") %>
