<%- include("../default/header.ejs") %>
<main>
<div style="
    text-align: center;
    margin-bottom: 5px;
">هزینه تماس و ارسال کد به عهده ما میباشد
    </div>
    <section class="basket-section wrapper">
        <h1 class="section-title">سبد خرید</h1>
        <hr>
        <div class="basket-table">
            <div class="header-area">
                <div class="item">
                    مجموع
                </div>
                <div class="item">
                    تعداد
                </div>
                <div class="item">
                    قیمت واحد
                </div>
                <div class="item">
                    کارت های انتخاب شده
                </div>
            </div>
            <% items.forEach(function (item){ %>
            <div class="list">
                <div class="item">
                    <div class="delete-btn">
                        <a href="javascript:;">
                            <img src="/images/ui/delete.png" alt="">
                        </a>
                    </div>
                    <div class="total-price">
                        24
                    </div>
                    <div class="count" data-prod-id="<%=item.product_id%>">
                        <a href="javascript:;">
                            <span class="minus-item">-</span>
                        </a>
                        <span class="items-count">
                            <%=item.count%>
                        </span>
                        <a href="javascript:;">
                            <span class="plus-item">+</span>
                        </a>
                    </div>
                    <div class="item-price">
                        <%=item.real_price%>
                    </div>
                    <div class="item-info">
                        <div class="txt-area">
                            <%=item.name%>
                        </div>
                        <div class="img-area" style="background: <%='#'%><%=item.color%>">
                            <div class="name">
                                <%=item.name%>
                            </div>
                            <div class="price">
                                <%=item.price%>$
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
        <div class="bottom-area">
            <a href="/orders/create" id="buyBtn">ادامه</a>
            <p class="amount">قیمت کل  <span id="mainTotal"></span>  تومان</p>
        </div>
    </section>
</main>
<%- include("../default/footer.ejs") %>

<script>
    var all = JSON.parse('<%- JSON.stringify(items) %>')
    var mathResult = () =>{
        var counts = $('.count');
        var arr = [];
        for(var i = 0; i < counts.length; i++){
            var count = parseFloat($(counts[i]).find('.items-count').text());
            var real_price = parseFloat($(counts[i]).next('.item-price').text());
            var totalPrice = count * real_price;
            $(counts[i]).prev('.total-price').text(totalPrice);
        }
        var allTotals = $('.total-price');
        var total = 0;
        for(var j = 0; j < allTotals.length; j++){
            total += parseFloat($(allTotals[j]).text())
        }
        $('#mainTotal').text(total)
    }
    mathResult();

    $('.minus-item').click(function (){
        $('.all_load').css({'display':'flex'});
        var self = $(this);
        var nowCount = parseInt($(this).parent('a').next('.items-count').text());
        if(nowCount === 1){
            $('.all_load').css({'display':'none'});
            return  false
        }else{
            updateCount($(this),'minus',function (){
                var newCount = --nowCount;
                self.parent('a').next('.items-count').text(newCount);
                mathResult();
                $('.all_load').css({'display':'none'});
            })
        }
    })

    $('.plus-item').click(function (){
        $('.all_load').css({'display':'flex'});
        var self = $(this);
        updateCount($(this),'plus',function (){
            var nowCount = parseInt(self.parent('a').prev('.items-count').text());
            var newCount = ++nowCount;
            self.parent('a').prev('.items-count').text(newCount)
            mathResult();
            $('.all_load').css({'display':'none'});
        });
    })

    var updateCount = (element,type,cb) =>{
        var prodId = element.parent('a').parent('.count').attr('data-prod-id');
        requestPost('/bag/update-count','type='+type+'&prodId='+prodId,function (){
            if (this.readyState == 4) {
                let result = JSON.parse(this.responseText);
                if(!result.error){
                    return cb();
                }
            }
        })
    }
    $('.delete-btn').click(function (){
      // console.log('...',$(this))
        var self = $(this);
        var prodId = $(this).next().next('.count').attr('data-prod-id');
      // console.log('prodId',prodId)
        requestPost('/bag/remove','prodId='+prodId,function (){
            if (this.readyState == 4) {
                let result = JSON.parse(this.responseText);
                if(!result.error){
                    window.location.reload();
                }
            }
        })
    })

    // $('.buyBtn').click(function (){
    //   // console.log('...',$(this))
    //     var self = $(this);
    //     var prodId = $(this).next().next('.count').attr('data-prod-id');
    //   // console.log('prodId',prodId)
    //     requestPost('/bag/remove','prodId='+prodId,function (){
    //         if (this.readyState == 4) {
    //             let result = JSON.parse(this.responseText);
    //             if(!result.error){
    //                 window.location.reload();
    //             }
    //         }
    //     })
    // })
</script>
