<%- include("../default/header.ejs") %>
<main>
    <section class="contact-section wrapper">
        <div class="contact-area">
            <h1 class="section-title">درباره ما</h1>
            <hr>
            <div class="about-text">سایت ارزان کارت این امکان را برای کاربران ایرانی فراهم کرده تا آنها بتوانند در کمترین زمان ممکن گیفت کارت های مربوط به شرکت های معتبر را خریداری کنند </div>
            <div class="about-text">خریدار کارتهای هدیه به بالاترین قیمت </div>
<!--            <div class="about-text">تلفن ثابت۰۲۱۷۷۰۸۱۹۷۹  </div>-->
<!--            <div class="about-text"> کدپستی ۱۶۵۵۶۵۳۸۸۳  </div>-->
        </div>

    </section>
</main>
<%- include("../default/footer.ejs") %>
