<%- include("../default/header.ejs") %>
<main>
    <section class="faq-section wrapper">
        <h1 class="section-title">
            faq
        </h1>
        <div class="list">
            <div class="item">
                <div class="tab-header">
                    <a href="javascript:;">
                        <img src="/images/ui/down-arrow.png" alt="">
                        <span>1</span>
                    </a>
                </div>
                <div class="tab-content">
                    content 1
                </div>
            </div>
            <div class="item">
                <div class="tab-header">
                    <a href="javascript:;">
                        <img src="/images/ui/down-arrow.png" alt="">
                        <span>2</span>
                    </a>
                </div>
                <div class="tab-content">
                    content 2
                </div>
            </div>
            <div class="item">
                <div class="tab-header">
                    <a href="javascript:;">
                        <img src="/images/ui/down-arrow.png" alt="">
                        <span>3</span>
                    </a>
                </div>
                <div class="tab-content">
                    content 3
                </div>
            </div>
        </div>
    </section>
</main>
<%- include("../default/footer.ejs") %>