<%- include("../default/header.ejs") %>
<main>
    <section class="contact-section wrapper">
        <div class="contact-area">
            <h1 class="section-title">قوانین</h1>
            <hr>
            <div class="terms-text">قوانین خرید
                <br/>
                لطفا قبل از خرید شرایط زیر را به دقت مطالعه نموده و سپس اقدام به خرید نمایید.
                <br/>
                تمامی گیفت کارت ها کاملا از منابع معتبر تامین می شوند، بنابراین از سالم بودن کد ها اطمینان کامل داشته باشید .
                <br/>
                لطفا در انتخاب کارت دقت نمایید جهت حفظ امنیت حساب کاربری سایر مشتریان از تعویض و یا استردادکارت خریداری شده معذوریم.
                <br/>
                طبق قوانین جاری کشور فروش کالا به افراد زیر 18 سال ممنوع می باشد.
                <br/>
                جهت خرید گیفت کارت از خریدار کاملا احراز هویت می شود لذا ارسال فایل تصویر خریدار همراه با کارت ملی الزامیست و سفارشات از آی پی ایران انجام می گیرد.
                <br/>
                در صورتیکه خرید کارت در رابطه با سایت های غیر اخلاقی و غیر قانونی استفاده شود و محرز شود که منطبق با قوانین مدون کشور نمی باشد کاربری خریدار بلاک می شود.
            </div>
        </div>
    </section>
</main>
<%- include("../default/footer.ejs") %>
